[Unit]
Description=Cloudflare Tunnel
After=network-online.target
[Service]
Type=exec
ExecStart=/usr/local/bin/cloudflared tunnel --config /home/administrator/.cloudflared/config.yml run
Restart=always
RestartSec=5
StartLimitBurst=0
StartLimitIntervalSec=0
User=root
[Install]
WantedBy=multi-user.target
