[Unit]
Description=Port-Forward mobile DEV
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=/usr/local/bin/kubectl port-forward --address 0.0.0.0 svc/mobile-dev-server-service -n default 5598:5598
Restart=always
RestartSec=3
User=administrator

[Install]
WantedBy=multi-user.target
