[Unit]
Description=Port-Forward nginx PROD
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=/usr/local/bin/kubectl port-forward --address 0.0.0.0 svc/nginx-service -n default 8083:80
Restart=always
RestartSec=3
User=administrator

[Install]
WantedBy=multi-user.target
