[Unit]
Description=Port-Forward Prometheus
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=/usr/local/bin/kubectl port-forward --address 127.0.0.1 svc/prometheus-server -n monitoring 9090:80
Restart=always
RestartSec=5
User=administrator

[Install]
WantedBy=multi-user.target
