[Unit]
Description=K8s Portfolio Cluster - Auto Recovery
Requires=ensure-cluster.service
After=ensure-cluster.service
Wants=cluster-ready.service socat-8084.service socat-5500.service socat-5599.service socat-5598.service socat-3000.service cloudflared-tunnel.service
After=socat-8084.service socat-5500.service socat-5599.service socat-5598.service socat-3000.service cloudflared-tunnel.service
Wants=docker.service network-online.target
After=docker.service network-online.target