[Unit]
Description=Ensure Kind cluster exists and is healthy
After=docker.service network-online.target
Wants=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/administrator/k8s-portfolio-iac/wsl/scripts/ensure-cluster.sh
ExecStartPost=/usr/bin/docker update --restart=always lab-sre-denoso-control-plane
User=administrator
Restart=on-failure
RestartSec=10

[Install]
WantedBy=cluster.target