[Unit]
Description=Socat forward port 3000 to grafana NodePort 32039
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=exec
ExecStart=/usr/local/bin/socat-forward.sh 3000 32039
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=cluster.target